<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fail</title>
    <link rel="stylesheet" href="stylesheets/fail.css">
  </head>
  <body>
    <h1>Error:</h1>
    <h2><%= result%></h2>
    <a href="login.html"><button>Back to login page.</button></a>
  </body>
</html>
